* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

html {
  height: 150%;
}

body {
  padding: 0 10%;
  background-color: #242629;
}

/*Style for header element*/
.header {
  background-color: #16161a;
  color: #fffffe;
  padding: 15px 0;
}

/*Styles for nav bar and its elements within */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 2%;
}

.nav-bar h1 {
  font-weight: 500;
  background-color: #7f5af0;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
}

.nav-links p {
  padding: 0 20px;
  font-size: 1.5rem;
  color: #94a1b2;
}
.nav-links p a {
  text-decoration: none;
}

/*Styles for banner section */
.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 18.75rem;
  position: relative;
}

.hero-banner div {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: lightseagreen;
}

.hero-banner div h2 {
  padding: 0 10px;
}

/* CSS Grid container within main element */
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 8fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
  grid-template-areas:
    "about-heading about "
    "work-heading work "
    "contact-heading contact";
  height: 150vh;
  background-color: #fffffe;
}

.about-heading {
  grid-area: about-heading;
  background-color: lightblue;
}

.work-heading {
  grid-area: work-heading;
  background-color: lightcoral;
}

.contact-heading {
  grid-area: contact-heading;
  background-color: lightgreen;
}

#about {
  grid-area: about;
  background-color: darkblue;
}

#work {
  grid-area: work;
  background-color: darkred;
}

#contact {
  grid-area: contact;
  background-color: darkgreen;
}

/*Grid container div within work section */
.work-content {
  display: grid;
  height: 100%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 3fr 3fr;
  grid-template-areas:
    "project-1 project-1"
    "project-2 project-3"
    "project-4 project-5";
  gap: 10px;
  padding: 10px;
}

.project-1 {
  grid-area: project-1;
  background-color: white;
}

.project-2 {
  grid-area: project-2;
  background-color: white;
}

.project-3 {
  grid-area: project-3;
  background-color: white;
}

.project-4 {
  grid-area: project-4;
  background-color: white;
}

.project-5 {
  grid-area: project-5;
  background-color: white;
}
