* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/*Colours applied to different section of the website*/
/*---------------------------------------------------------------------------------------------*/
:root {
  --paragraph-text-colour: #4a6163;
  /*Header colours*/
  --header-bg-color: #388087;
  --navbar-h1-bg-color: lightseagreen;
  --nav-bar-h1-colour: #f6f6f2;
  --nav-link-hover-colour: darkslategray;
  --nav-anchor-text-colour: #eeeeee;
  /*banner colours*/
  --banner-h2-bg-colour: lightseagreen;
  --banner-h2-font-color: #f6f6f2;
  --profile-pic-border-color: lightseagreen;
  /*subheading colours*/
  --grid-subheading-border-colour: #6fb3b8;
  --grid-subheading-h2-font-colour: lightseagreen;

  /*work-project-grid-colours*/
  --work-prog-grid-border-col: #6fb3b8;
  --work-prog-grid-card-cotainer-bg-color: #6fb3b8;

  /*contact section colors*/
  --span-contact-link-head-col: #388087;
  --contact-anchor-hover-colour: lightseagreen;
}

html {
  height: 150%;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

/*Navigation Section*/
/*---------------------------------------------------------------------------------------------*/
.header {
  margin-left: 0;
  padding: 2% 2% 2% 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--header-bg-color);
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 2%;
  margin: auto 0;
}
.nav-links p {
  padding: 0 20px;
}

.nav-bar h1 {
  margin-left: 0;
  background-color: var(--navbar-h1-bg-color);
  color: var(--nav-bar-h1-colour);
  padding: 0 2.5% 0 5%;
}

/*colours and hover for navigation links*/
/*-------------------------------------*/
.nav-links p a {
  color: var(--nav-anchor-text-colour);
}

.nav-links p a:hover {
  color: var(--nav-link-hover-colour);
}

/*Banner Section*/
/*---------------------------------------------------------------------------------------------*/
.hero-banner {
  overflow: hidden;
  background-image: url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.hero-banner-title {
  background-color: var(--banner-h2-bg-colour);
  align-self: flex-end;
  padding: 0 20px;
}

.hero-banner-title h2 {
  color: var(--banner-h2-font-color);
}

/*Profile-Picture Section*/
/*---------------------------------------------------------------------------------------------*/
.profile-pic {
  padding: 10px;
  align-self: flex-start;
}

.profile-pic img {
  width: 200px;
  border: 5px dotted var(--profile-pic-border-color);
  border-radius: 50%;
}

/*Page Wrapper Section*/
/*Contains 1 column and 3 rows using CSS Grid*/
/*---------------------------------------------------------------------------------------------*/
.page-wrapper {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 9fr 1fr;
  grid-template-areas: "about" "work" "contact";
  padding: 0.6rem; /*change to px*/
  row-gap: 1.5rem; /*change to px*/
}

#about {
  grid-area: about;
}

#work {
  grid-area: work;
}

#contact {
  grid-area: contact;
}

/*colours and styles for about me section*/
/*--------------------------------------*/
#about-me-content {
  color: var(--paragraph-text-colour);
  padding: 25px;
}

/* Page Section*/
/*Contains 1 column and 3 rows using CSS Grid*/
/*---------------------------------------------------------------------------------------------*/

.page-section {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-template-areas: "grid-subheading" "content-areas";
  padding: 20px 0;
}

.grid-subheading {
  padding: 10% 10% 0 0;
  text-align: right;
  border-right: 5px solid var(--grid-subheading-border-colour);
}

.grid-subheading h2 {
  color: var(--grid-subheading-h2-font-colour);
  text-decoration: underline;
}

/*Project Grid Section*/
/*Contains CSS grid divides all the different projects*/
/*---------------------------------------------------------------------------------------------*/
.work-content {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 1.5fr 1.5fr;
  grid-template-areas:
    "project-1 project-1"
    "project-2 project-3"
    "project-4 project-5";
  column-gap: 0.6rem;
  row-gap: 0.6rem;
  padding: 0.6rem;
}

.project-1 {
  grid-area: project-1;
  background-image: url(../images/02-portfolio-4.jpg);
}
.project-2 {
  grid-area: project-2;
  background-image: url(../images/02-portfolio-1.jpg);
}
.project-3 {
  grid-area: project-3;
  background-image: url(../images/02-portfolio-2.jpg);
}
.project-4 {
  grid-area: project-4;
  background-image: url(../images/02-portfolio-3.jpg);
}
.project-5 {
  grid-area: project-5;
  background-image: url(../images/02-run-buddy.jpg);
}

/*Styles applied on all sections*/
/*-----------------------------*/
.project-grid-styles {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid var(--work-prog-grid-border-col);
  padding-bottom: 10px;
  display: grid;
  align-content: end;
}

.project-grid-styles:hover {
  color: white;
  opacity: 0.7;
}

.project-card-container {
  background-color: var(--work-prog-grid-card-cotainer-bg-color);
  display: inline-block;
  padding: 10px;
}

/*Contact section*/
/*---------------------------------------------------------------------------------------------*/
#contact-content-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-links p {
  /* display: inline-block; */
  margin: auto 0.62rem;
  padding: 0.62rem;
  text-align: center;
}

/*colours and hover for contact links*/
/*---------------------------------*/
span {
  color: var(--span-contact-link-head-col);
}
.contact-links p {
  color: var(--paragraph-text-colour);
}

.contact-links p a {
  color: var(--paragraph-text-colour);
}
p a:hover {
  color: var(--contact-anchor-hover-colour);
}

/*/MEDIA QUERIES BETWEEN LATOP/ TABLET DISPLAYS AT 670px**/
/*used to put contact and links in vertical view due spacing issues between laptop and tablet views*/
/*---------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 670px) {
  /*Contact Section adjustments at 670px*/
  /*-----------------------------------*/
  .contact-links p {
    text-align: center;
  }
  #contact-content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-links p {
    text-align: center;
  }
}

/**MEDIA QUERIES FOR TABLET DISPLAYS AT 600px**/
/*---------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
  /*Header section adjustments at 600px*/
  /*----------------------------------*/
  .header {
    padding: 2% 0 0;
  }
  /*navbar section adjustments at 600px*/
  /*----------------------------------*/
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .nav-bar h1 {
    padding: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  .nav-links p {
    padding: 0.5rem 0;
  }

  /*Banner section adjustments at 600px*/
  /*----------------------------------*/
  .hero-banner {
    padding: 20px;
  }

  .hero-banner-title {
    width: 100%;
    align-self: center;
    text-align: center;
  }

  /*Profile-Picture section adjustments at 600px*/
  /*-------------------------------------------*/
  .profile-pic {
    align-self: center;
    padding: 0;
  }

  .page-section {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 3fr;
    grid-template-areas:
      "grid-subheading"
      "content-areas";
  }

  /*Grid Subheading section adjustments at 600px*/
  /*-------------------------------------------*/
  .grid-subheading {
    padding: 0;
    text-align: center;
    border-right: none;
    border-bottom: 5px solid #6fb3b8;
  }

  .grid-subheading h2 {
    margin: 0 auto;
  }

  /*Work Content section adjustments at 600px*/
  /*----------------------------------------*/
  .work-content {
    padding-top: 10%;
    display: grid;
    max-width: 100%;
    /* max-height: 80%; */
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "project-1"
      "project-2"
      "project-3"
      "project-4"
      "project-5";
  }
}

/**MEDIA QUERIES FOR MOBILE USERS DISPLAY SCREEN SIZE 300px**/
/*---------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 300px) {
  /*Navbar section adjustments at 300px*/
  /*----------------------------------*/
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar h1 {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
  }

  .nav-links p {
    padding: 0.5rem 0;
  }

  /*Banner Section adjustments at 300px*/
  /*----------------------------------*/
  .hero-banner-title {
    align-self: center;
    /* padding: 10px; */
  }

  /*Profile-Picture Section adjustments at 300px*/
  /*------------------------------------------*/
  .profile-pic {
    padding: 20px;
    align-self: center;
  }
  /*Page Section adjustments at 300px*/
  /*--------------------------------*/
  .page-section {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 3fr;
    grid-template-areas:
      "grid-subheading"
      "content-areas";
  }
  /*Grid Subheading Section adjustments at 300px*/
  /*-------------------------------------------*/
  .grid-subheading {
    padding: 0;
    text-align: center;
    border-right: none;
  }
  /*Work Content Section adjustments at 300px*/
  /*----------------------------------------*/
  .work-content {
    padding-top: 10%;
    display: grid;
    max-width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "project-1"
      "project-2"
      "project-3"
      "project-4"
      "project-5";
  }

  /*Contact Section adjustments at 300px*/
  /*-----------------------------------*/
  #contact-content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
  }

  .contact-links p {
    text-align: center;
  }
}
